* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e7f1f3;
}

.footer {
    background-color: #fff;
    padding: 0;
    margin-top: 50px;
    text-align: center;
    color: black;
    height: 180px;
    width: 100%;
    position: relative;
    box-shadow: 0 -9px 50px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.img {
    position: relative;
    background-color: #fff;
    height: 180px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contents {
    position: absolute;
    bottom: 30px;
    /* Adjust as needed to position the overlay */
    left: 0px;
    /* Adjust as needed to position the overlay */
    z-index: 2;
    /* Ensure the top container has a higher stacking order */
    height: 150px;
    background-color: #fff;
    width: 100%;
}

.copyright-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.copyright-info .logos p.art-log {
    font-size: 18px;
    /* Increased font size */
    font-family: 'Fira Code', monospace;
    /* Set font to Fira Code */
    color: black;
    margin-left: 10px;
}

.logos p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos p.regular-txt {
    font-size: 14px;
    color: black;
    margin-left: 20px;
    font-weight: 600;
}

.logos #ssmas {
    margin-left: 20px;
}