* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgba(110, 176, 243, 0.808);
}

.header {
    display: flex;
    flex-direction: column;
    /* Arrange children vertically */
    align-items: center;
    /* Center items horizontally */
    background-color: #fff;
    /* Change as needed */
    padding: 0;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    /* To enable aligning items */
    justify-content: center;
    align-items: center;
    /* Align items vertically */
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo img {
    max-width: 100px;
    /* Adjust size as needed */
}

.title {
    font-size: 40px;
    /* Increased font size */
    font-family: 'Fira Code', monospace;
    /* Set font to Fira Code */
    color: black;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-bar {
    width: 100%;
    /* Make the navigation bar full width */
    background-color: #393a3c;
    /* Same background as header */
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center items horizontally */
    list-style-type: none;
    background-color: #393a3c;
    padding: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    margin: 0 100px;
    /* Adjust spacing between items */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    /* Change color as needed */
}

.dropdown {
    text-align: center;
}

.title-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.title-icon a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-icon a img {
    max-width: 100%;
}

.title-icon a p {
    color: #fff;
    font-size: 18px;
    font-family: 'Monserrat', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
}