.header {
    color: #ffffff;
    padding: 20px 0;
}

.logo {
    max-width: 100px;
    margin-right: 20px;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .title-icon a:hover {
    background-color: #fff;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #fff;
}

li a:hover,
.dropdown:hover .dropbtn p,
li .title-icon a:hover p {
    color: #333;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #fff;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    background-color: #75bacd;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav ul li.dropdown {
    display: inline-block;
}

nav ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav ul li.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li.dropdown .dropdown-content a:hover {
    background-color: rgba(110, 176, 243, 0.808);
}